.input {
  width: 90vw;
  max-width: 360px;

  display: flex;
  justify-content: space-between;

  padding: 1vw;
  font-size: 1.2rem;

  & button {
    background: none;
    border: none;

    font-size: 1.2rem;
    padding: 1vw;

    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
