@import './_variables.scss';
@import './_globals.scss';
@import './_board.scss';
@import './_input.scss';
@import './_details.scss';
@import './_controls.scss';
@import './_loading.scss';
@import './_paused.scss';
